@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap");

:root {
  --font-primary: "Roboto Mono", monospace;
  --font-accent: "Rubik", sans-serif;
  --color-black: #1e2027;
  --color-grey-light: #e5e5e5;
  --container-width: 1200px;
}

*:not(svg *) {
  all: unset;
  display: revert;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-grey-light);
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  color: var(--color-black);
}

.container {
  margin: 0 auto;
  padding: 30px 20px;
  max-width: var(--container-width);
}

.title {
  font-family: var(--font-accent);
  font-size: 40px;
  line-height: 1.3;
  text-transform: uppercase;
}
